<div style="text-align:center" class="container" *ngFor="let channelsIdx of arrayOfChannels; let i = index">
  <div id="channels" class="card-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title> {{ this.arrayOfTitles[i] }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list *ngIf="channelsIdx">
                <mat-list-item class="channels-list" *ngFor="let c of channelsIdx" (click)="this.clickChannel(c)">
                  <div>
                      <span [matBadge]="c.number" matBadgeOverlap="false" matBadgePosition="center before">
                        </span>
                        {{ c.name }}
                  </div>
                  <div>
                      <mat-chip-list>
                          <mat-chip>{{ c.resolution }}</mat-chip>
                          <mat-chip *ngFor="let cat of c.categories">{{ cat }}</mat-chip>
                      </mat-chip-list>
                  </div>
                </mat-list-item>
              </mat-list>
          <div *ngIf="!channelsIdx && !channels || !channelsIdx.length">
            <p>No channels found!</p>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
